<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Chapter13_2</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
        
        <!--  we define security role -->
        <security-role>
        	<role-name>Admin</role-name>
        </security-role>
        
        <!--  ENABLE Authentication First using simple BASIC style -->
        <login-config>
        	<auth-method>
        		BASIC
        	</auth-method>
        </login-config>
        
        <security-constraint>
        	<web-resource-collection>
        		<web-resource-name>MyCollection</web-resource-name>
        		<url-pattern>/index.jsp</url-pattern>
        		<http-method>GET</http-method>
        		<http-method>POST</http-method>	
        	</web-resource-collection>
        	
        	<!--  This saying that only admin can access throught GET POST method
        	to web resource which is index.jsp this resource is contrained we define this way -->
        	<auth-constraint>
        		<role-name>Admin</role-name>
        	</auth-constraint>
        </security-constraint>
        
        <jsp-config>
        	<jsp-property-group>
        		<url-pattern>*.jsp</url-pattern>
        		<el-ignored>false</el-ignored>
        		<scripting-invalid>false</scripting-invalid>
        	</jsp-property-group>
        </jsp-config>
        
        <!-- we create servlet and servlet mapping: -->
        <servlet>
        	<servlet-name>MyMainServlet</servlet-name>
        	<servlet-class>com.andrius.project.Chapter13_2.servlet.MainServlet</servlet-class>
        </servlet>
        
        <servlet-mapping>
        	<servlet-name>MyMainServlet</servlet-name>
        	<url-pattern>/servlet</url-pattern>
        </servlet-mapping>
        
        <!--  Create Log Filter which will be the First Filter in the order of DD: -->
        <filter>
        	<filter-name>LogFilter</filter-name>
        	<filter-class>com.andrius.project.Chapter13_2.filter.LogFilter</filter-class>
        </filter>
        
        <!-- LogFilter mapping: -->
        <filter-mapping>
        	<filter-name>LogFilter</filter-name>
        	<url-pattern>/servlet</url-pattern>
        </filter-mapping>
        
        <!-- Create  Authentication Filter will be second in the order of DD: -->
        <filter>
        	<filter-name>AuthFilter</filter-name>
        	<filter-class>com.andrius.project.Chapter13_2.filter.AuthenticationFilter</filter-class>
        </filter>
        
        <!-- Authentication Filter mapping: -->
        <filter-mapping>
        	<filter-name>AuthFilter</filter-name>
        	<servlet-name>MyMainServlet</servlet-name>
        </filter-mapping>
    </web-app>
